__pycache__/
/containers/*
/containers
images/*
.venv
container_backend/container/containers/*
container_backend/container/images/*
container_backend/container/migrations
container/images/*
cli/containers/*
cli/images/*
db.sqlite3
